.Content-Cotainer {
  background: url(https://andrewborstein.com/assets/img/bg.png) repeat;
  padding-left: 200px;
  padding-top: 20px;
  font-family: 'Roboto', monospace, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.Default-Header {
  display: flex;
  align-items: center;
  background-color: #008073;
  height: 90px;
}

.Default-Header p {
  margin: 0;
  padding: 0 20px;
  font-size: 30px;
  font-weight: 200;
  color: white;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .Content-Cotainer {
    padding-top: 70px;
    padding-left: 0;
  }
}
